# STM32CubeIDE / Build Files
/Debug/
/Release/
/.build/
/.settings/
/.metadata/
/.vscode/
/.idea/
/RemoteSystemsTempFiles/
/Core/Inc/subdir.mk
/Core/Src/subdir.mk
/Drivers/subdir.mk

# Build Artifacts
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.log
*.dep
*.srec

# Misc / Editor Backups
*.swp
*.bak
*.tmp
*.user
*.launch
*.save
*.backup

# OS Noise
__MACOSX/
.DS_Store
Thumbs.db
desktop.ini

# Python Cache Files
__pycache__/
*.pyc
